
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow public read access to all collections
    match /{document=**} {
      allow read: if true;
    }

    // Restrict write access to authenticated users
    match /bookings/{bookingId} {
      allow write: if request.auth != null;
    }
    match /profiles/{userId} {
      // Allow users to create their own profile, and update it.
      allow create, update: if request.auth != null && request.auth.uid == userId;
    }
    match /routes/{routeId} {
      allow write: if request.auth != null;
    }
    match /settings/{settingId} {
      // Allow only authenticated users to write to settings
      allow write: if request.auth != null;
    }
  }
}
